<template>
  <div id="app">
    <h1>Type into the Editor below</h1>
    <p>Type a hash symbol in the editor to start typing a hash tag and search the list of pre-defined tags. New tags are colored blue and existing tags are colored red</p>
    <div id="contentEditor" @input="onInput($event)" v-on:click="onClick($event)" contenteditable>
      {{ editorContent }}
    </div>
  </div>
</template>

<script>
import { tags } from '../public/data.json'
import {
  rangeWrap,
  rangeInsert,
  caretPlaceAfterNode,
  caretInsertNode,
  watchForHash,
  getWord
} from './helpers/selection'
import './index.less'

export default {
  name: 'app',
  data: () => ({
    editorContent: '',
    tagsList: tags,
    tagsCounter: 0
  }),
  mounted () {
    this.$nextTick(function () {
      this.findAndReplaceTags(document.getElementById('contentEditor'))
    })
  },
  methods: {
    onInput (e) {
      // Bind Editor
      const cmEditor = document.getElementById('contentEditor')
      // Check if user has typed a hash/pound symbol
      const content = cmEditor.innerHTML
      const isHash = watchForHash(cmEditor)
      const firstChar = content.charAt(0) === '#'
      if (isHash || firstChar) {
        this.initTagNode(false, firstChar)
      }
    },
    onClick (e) {
      // TODO If user clicks existing hash-tag
      if (e.target.className === 'hash_tag') {
        const cmEditor = document.getElementById('contentEditor')
        const content = cmEditor.innerHTML
        // getWord()
        const firstChar = content.charAt(0) === '#'
        this.initTagNode(getWord(), firstChar)
      }
    },
    initTagNode (withValue, firstChar) {
      // set tagNode ID
      ++this.tagsCounter

      // create input Element
      let el
      withValue
        ? el = this.createTagInput(withValue)
        : el = this.createTagInput()
      const hashMenu = this.createTagMenu()

      // replace selection content with input
      if (!withValue) {
        rangeWrap(el, 'extend', 'backward', 'character')
      } else {
        rangeInsert(el)
      }

      // focus input
      el.focus()
      el.value = '#'

      // if initializing with existing value set input width
      el.style.width = ((el.value.length + 1) * 10) + 'px'
      el.appendChild(hashMenu)

      el.addEventListener('input', (e) => {
        el.style.width = ((el.value.length + 1) * 10) + 'px'
        for (let i = 0; i < this.tagsList.length; i++) {
          const newTag = el.querySelectorAll('.newTag')
          const name = this.tagsList[i]
          if (name === this.removeFirstChar(el.value)) {
            newTag[0].value = 'test'
            newTag.parentNode.removeChild(newTag)
          } else if (name !== this.removeFirstChar(el.value)) {
            newTag[0].value = el.value
          }
        }
      })

      // disallow hash
      el.addEventListener('keypress', (e) => {
        let disallowChar = 35
        if (e.keyCode === disallowChar) {
          e.preventDefault()
          return false
        }
      })

      let eventCount = 0

      el.addEventListener('change', (e) => {
        if (eventCount === 1) {
          return null
        } else {
          eventCount = 1
          this.setTag(e, el, firstChar)
        }
      })

      el.addEventListener('keydown', (e) => {
        if (e.keyCode === 8 && !this.removeFirstChar(el.value)) {
          el.parentNode.removeChild(el)
        }
        if (eventCount === 1) {
          return null
        } else if (e.keyCode === 32 || e.keyCode === 13 || e.keyCode === 9) {
          e.preventDefault()
          eventCount = 1
          this.setTag(e, el, firstChar)
        }
      })
      el.addEventListener('blur', (e) => {
        if (eventCount === 1) {
          return null
        } else {
          eventCount = 1
          this.setTag(e, el, firstChar)
        }
      })
    },
    setTag (e, el, firstChar) {
      const value = this.removeFirstChar(el.value)
      if (!value) {
        e.preventDefault()
        caretPlaceAfterNode(el)
        if (!firstChar) {
          caretInsertNode(document.createTextNode('\xa0'))
        }
        el.parentNode.removeChild(el)
      } else {
        const tag = document.createElement('span')
        tag.innerHTML = `#${value}`
        tag.setAttribute('class', 'new_tag')
        for (let i = 0; i < this.tagsList.length; i++) {
          const name = this.tagsList[i]
          if (name === value) {
            tag.setAttribute('class', 'hash_tag')
          }
        }
        rangeInsert(tag, 'extend', 'backward', 'word')
        el.parentNode.removeChild(el)
        caretPlaceAfterNode(tag)
        caretInsertNode(document.createTextNode('\xa0'))
      }
    },
    createTagInput (withValue) {
      const tagInput = document.createElement('input')
      tagInput.setAttribute('class', 'hash_tag')
      tagInput.setAttribute('list', 'hash_list_' + this.tagsCounter)
      if (withValue) {
        tagInput.value = withValue.substr(1, withValue.length)
      }
      return tagInput
    },
    findAndReplaceTags (el) {
      const content = el.innerHTML
      const output = content.replace(/(^|\s)(#[a-z\d-]+)/ig, "$1<span class='hash_tag'>$2</span>")
      el.innerHTML = output
    },
    createTagMenu () {
      const hashMenu = document.createElement('datalist')
      hashMenu.setAttribute('class', 'hash_menu')
      hashMenu.setAttribute('id', 'hash_list_' + this.tagsCounter)
      let options
      for (let value of this.tagsList) {
        options += '<option value="#' + value + '" />'
      }
      options += '<option class="newTag">Press space to create new tag</option>'
      hashMenu.innerHTML = options
      return hashMenu
    },
    removeFirstChar (el) {
      return el.substr(1, el.length)
    }
  }
}
</script>
