.editorFont {
  font-size:1.25rem;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:1.5;
  padding:0 2rem;
}
#contentEditor {
  .editorFont;
  display: block;
  border:1px solid #ddd;
  width:calc(100% - 1rem);
  height:50vh;
  border-radius: 0.25rem;
  padding:0.5rem;
}

.hash_tag,
.new_tag {
  .editorFont;
  position: relative;
  width:2px;
  background: transparent;
  color: #f24c3f;
  border:0;
  padding:0;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &:focus {
    outline: none;
  }
}
.hash_menu {
  display:block;
  position:absolute;
  width:10rem;
  max-height:15rem;
  overflow:scroll;
  background-color:pink;
  top:1rem;
  left:0;
  margin-top:0.15rem;
}
.hash_menu.active {
  display:block !important;
}
.new_tag {
  color:blue;
}